SECRET_KEY =
DEBUG =
NAME =
USER =
PASSWORD =
HOST =
PORT =

POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=

API_KEY_STRIPE=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
CELERY_TIMEZONE=
